<div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav_brand" >
                    <!-- <ion-icon name="menu-outline" class="nav_toggle" id="nav_toggle"></ion-icon> -->
{#                    <img src="../../static/image/.png" style="left:10px;width: 50px;height: 50px;border-radius:50%">#}
                    <span href="#" class="nav_logo">Welcome!</span>
                </div>
                <div class="nav_list">

                    <div class="">

                    </div>

                    <div class="nav_link collapse">
                         <i class="fa fa-sitemap" aria-hidden="true"></i>
                        <span class="nav_name"><a href="/Retrieval" style="color: white">&nbsp;&nbsp;Retrieval</a></span>

                    </div>
                    <div class="nav_link collapse">
                         <i class="fa fa-th-large" aria-hidden="true"></i>
                        <span class="nav_name"><a href="/Analysis" style="color: white">&nbsp;&nbsp;plot Analysis</a></span>

                    </div>




                </div>
            </div>

        </nav>
    </div>
