{% extends "base/base.html" %}
{% block main %}
    <style>
        #right {
            text-align: center;
            width: 100%;
            margin: 0 auto;
        }

        h1 {
            margin: 20px 0;
        }

        h3 {
            margin: 10px 0;
        }

        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
        }

        th {
            {#<!-- background-color: #f2f2f2; -->#}
           {#background-color: #f2f2f2;#}
        }

        #pagination {
            margin-top: 20px;
        }

        #pagination button {
            margin-right: 5px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // 函数用于从后端获取数据并更新页面内容
            function updateData(type,company, start_time, end_time, page) {
                // 发送 AJAX 请求到后端
                $.ajax({
                    url: '/get_data',
                    type: 'GET',
                    data: {
                        Type:type,
                        company: company,
                        start_time: start_time,
                        end_time: end_time,
                        page: page
                    },
                    success: function (response) {
                        // 将数据更新到页面
                        $('#userTable tbody').empty();
                        $.each(response.data, function (index, item) {
                            $('#userTable tbody').append('<tr>' +
                                '<td>' + item.id + '</td>' +
                                '<td>' + item.datetime + '</td>' +
                                '<td>' + item.open + '</td>' +
                                '<td>' + item.high + '</td>' +
                                '<td>' + item.low + '</td>' +
                                '<td>' + item.close + '</td>' +
                                '<td>' + item.volume + '</td>' +
                                '</tr>');
                        });

                        // 更新分页信息
                        $('#pageInfo').text('Current Page: ' + response.current_page + ' / Total Pages: ' + response.total_pages);
                    }
                });
            }

            // 默认显示第一页数据
            updateData("Day","A", "2024-01-01", "2024-01-31", 1);

            // 当选择公司和时间段时，调用函数获取数据，并显示第一页数据
            $('#Type,#companySelect, #startDatetime, #endDatetime').change(function () {
                var company = $('#companySelect').val();
                var Type = $('#Type').val();
                var start_time = $('#startDatetime').val();
                var end_time = $('#endDatetime').val();
                updateData(Type,company, start_time, end_time, 1);
            });

            // 点击分页按钮时，获取对应页的数据
            $('#pagination').on('click', 'button', function () {
                var currentPage = parseInt($('#pageInfo').text().split(':')[1].trim().split('/')[0]);
                var totalPages = parseInt($('#pageInfo').text().split(':')[2]);
                var targetPage;



                if ($(this).text() === 'First Page') {
                    targetPage = 1;
                } else if ($(this).text() === 'Previous Page') {
                    targetPage = currentPage - 1;
                } else if ($(this).text() === 'Next Page') {
                    targetPage = currentPage + 1;
                } else if ($(this).text() === 'Last Page') {
                    targetPage = totalPages;
                }


                if (targetPage >= 1 && targetPage <= totalPages) {
                    var company = $('#companySelect').val();
                    var Type = $('#Type').val();
                    var start_time = $('#startDatetime').val();
                    var end_time = $('#endDatetime').val();
                    updateData(Type,company, start_time, end_time, targetPage);
                }
            });
        });
    </script>
    <div id="right">
        <h1>Stock Database</h1>
        <label for="Type">Type:</label>
        <select id="Type">
            <option value="Day">By Day</option>
            <option value="Hour">By Hour</option>
            <!-- 添加更多公司选项 -->
        </select>
        <label for="companySelect">Company:</label>
        <select id="companySelect">
            {% for com in com_list %}
                <option value="{{ com }}">{{ com }}</option>
            {% endfor %}
            <!-- 添加更多公司选项 -->
        </select>
        <label for="startDatetime">start time:</label>
        <input type="date" id="startDatetime" value="2024-01-01">
        <label for="endDatetime">end time:</label>
        <input type="date" id="endDatetime" value="2024-01-31">
        <table id="userTable">
            <thead>
            <tr>
                <th>id</th>
                <th>{{ columns.1 }}</th>
                <th>{{ columns.2 }}</th>
                <th>{{ columns.3 }}</th>
                <th>{{ columns.4 }}</th>
                <th>{{ columns.5 }}</th>
                <th>{{ columns.6 }}</th>
            </tr>
            </thead>
            <tbody>
            <!-- data -->
            </tbody>
        </table>
        <div id="pagination">
            <a href="#" id="firstPage"><button>First Page</button></a>
            <a href="#" id="prevPage"><button>Previous Page</button></a>
            <span id="pageInfo">Current Page: 1 / Total Pages: 1</span>
            <a href="#" id="nextPage"><button>Next Page</button></a>
            <a href="#" id="lastPage"><button>Last Page</button></a>
        </div>
    </div>
{% endblock %}
